<label class="form-field{{#if light}} form-field_light{{/if}}{{#if narrow}} form-field_narrow{{/if}}">
  {{#if label}}
  <div class="form-field__label">{{label}}</div>
  {{/if}}
  {{{ Input ref='input' type=type name=name placeholder=placeholder value=value autocomplete=autocomplete accept=accept}}}
  {{#if errorText}}
  <div class="form-field__error">{{errorText}}</div>
  {{/if}}
</label>
