{{#Root}}
  {{#Wrapper mod='error'}}
    {{{ PageTitle title='500' mod='error'}}}
    {{{ ErrorText text='Что-то пошло не так.<br>Мы уже работаем над решением проблемы.'}}}
    <nav>
      {{{ Button text='Перейти к чатам или авторизоваться' mod='error-page' onClick=goToChats}}}
    </nav>
  {{/Wrapper}}
{{/Root}}
