{{#> Root}}
  {{#> Wrapper mod='error'}}
    {{> PageTitle title='500' mod='error'}}
    {{> ErrorText text='Что-то пошло не так.<br>Мы уже работаем над решением проблемы.'}}
    <nav>
      {{> Link href='/chats' text='Вернуться к чатам' mod='error-page'}}
    </nav>
  {{/Wrapper}}
{{/Root}}
