{{#Root}}
  {{#Wrapper}}
    {{{ PageTitle title='Когда-нибудь здесь будет красивая главная страница'}}}
    <p>{{description}}</p>
    <nav>
      <ul>
        {{#each navlinks}}
        <li>
          {{{ Link href=href text=text}}}
        </li>
        {{/each}}
      </ul>
    </nav>
  {{/Wrapper}}
{{/Root}}
