.send-message {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: url('../../assets/svg/send.svg') no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}
