{{#> Root}}
  {{#> Wrapper}}
    {{> PageTitle title='Когда-нибудь здесь будет красивая главная страница'}}
    <p>А пока отсюда можно перейти на страницы, которые есть сейчас</p>
      <nav>
        <ul>
          {{#each navlinks}}
          <li>
            {{> Link href=href text=text}}
          </li>
          {{/each}}
        </ul>
      </nav>
    {{/ Wrapper}}
{{/Root}}
