<h1>Когда-нибудь здесь будет красивая главная страница</h1>
<h2>А пока отсюда можно перейти на страницы, которые есть сейчас</h2>
<nav>
  <ul>
    <li>
      <a href="/chats">Чаты</a>
    </li>
    <li>
      <a href="/error404">Ошибка 404</a>
    </li>
    <li>
      <a href="/error500">Ошибка 500</a>
    </li>
    <li>
      <a href="/login">Вход</a>
    </li>
    <li>
      <a href="/profile">Настройки профиля</a>
    </li>
    <li>
      <a href="/signup">Регистрация</a>
    </li>
  </ul>
</nav>
