@import '../../assets/styles/variables';

.current-chat {
  width: calc(100% - 310px);
  height: 100vh;
  overflow: hidden;

  &__header {
    height: 60px;
    background: $active-chat-color;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__body {
    height: calc(100vh - 120px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
