@import '../../assets/styles/variables';

.chats-feed {
  width: 310px;
  height: 100vh;
  overflow-y: hidden;
  background: $feed-background-color;
  overflow-x: hidden;

  &__header {
    padding: 15px 15px 10px;
  }

  &__header-top {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    height: calc(100% - 120px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
