{{#Root}}
  {{#Wrapper mod='error'}}
    {{{ PageTitle title='404' mod='error'}}}
    {{{ ErrorText text='Такой страницы нет.'}}}
    <nav>
      {{{ Link href='/messenger' text='Вернуться к чатам' class='link' mod='error-page'}}}
    </nav>
  {{/Wrapper}}
{{/Root}}
