{{#Root}}
  {{#Wrapper mod='error'}}
    {{{ PageTitle title='404' mod='error'}}}
    {{{ ErrorText text='Такой страницы нет.'}}}
    <nav>
      {{{ Button text='Перейти к чатам или авторизоваться' mod='error-page' onClick=goToChats}}}
    </nav>
  {{/Wrapper}}
{{/Root}}
