$font: 'Lato', sans-serif;
$default-font-size: 14px;

$base-color: #ffffff;
$base-text-color: #000000;
$form-border-color-light: rgba(255, 255, 255, 0.3);
$form-border-color-dark: rgba(0, 0, 0, 0.3);
$controls-color: #0d99ff;
$controls-hover-color: rgba(13, 153, 255, 0.3);
$attention-color: #ff5454;
$attention-hover-color: rgba(255, 84, 84, 0.3);
$default-background-color: #d9d9d9;
$overlay-background-color: rgba(217, 217, 217, 0.6);
$feed-background-color: #f3f3f3;
$message-typing-color: #606060;
$active-chat-color: rgba(13, 153, 255, 0.3);
$message-color: #808080;

$transition-time: 0.5s;
