$font: 'Lato', sans-serif;
$default-font-size: 14px;
$base-color: #ffffff;
$base-text-color: #000000;
$form-border-color-light: rgb(255 255 255 / 30%);
$form-border-color-dark: rgb(0 0 0 / 30%);
$controls-color: #0d99ff;
$controls-hover-color: rgb(13 153 255 / 30%);
$attention-color: #ff5454;
$attention-hover-color: rgb(255 84 84 / 30%);
$default-background-color: #d9d9d9;
$overlay-background-color: rgb(217 217 217 / 60%);
$feed-background-color: #f3f3f3;
$message-typing-color: #606060;
$active-chat-color: rgb(13 153 255 / 30%);
$message-color: #808080;
$transition-time: 0.5s;
